<html>
    <body>
        <!-- 
       <h3>{{nm|capfirst}}</h3>   for capitalized first letter 
       <h4>{{nm|default:'nothing'}}</h4>  return if nm is empty or false that show nothing  
        -->
        <!--
       <h3>{{name|lower}}</h3> for return in lowercase
        -->
       <!--<h3>{{name|lower}}</h3>  for return in lowercase-->
       <!--<h3>{{name|slice:'2'}}</h3>  for return in first 2 digit-->
       <!--<h3>{{name|truncatechars:4}}</h3>  for return in first 3 digit and .. like MIL...-->
       <h2>{{dt}}</h2>
       <h2>{{dt|date:'D d M Y'}}</h2>
       <h2>{{dt|date:'H:i'}}</h2>
    </body>
</html>
