<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>registration form</title>
 <style>
  .success{
   color:rgb(0, 77, 0);
  }
  .info {
   color: rgba(0, 0, 255, 0.808);
  }
 </style>
</head>
<body>
 <form action="" method="post">
  {% csrf_token %}
  {{form.as_p}}
  <input type="submit" value="SUbmit">
 </form>
 {% if messages %}
  {% for message in messages %}
   <span {% if message.tags %} class="alert-{{message.tags}}" {% endif %}>{{message}}</span>
  {% endfor %}
 {% endif %}
</body>
</html>